.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
}

.left {
  flex: 0 0 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.right {
  flex: 1;
}

.widgetStrip {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.widgetStrip:last-child {
  flex: 1;
  min-height: 0;
}

.widgetItem {
  padding: 0.25rem 0;
}