.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
}

.left {
  flex: 0 1 50%;
  max-width: 50%;
  position: relative;
}

.right {
  flex: 1 1 0;
  position: relative;
}

.widgetStrip {
  display: flex;
  gap: 0.5rem;
}

.widgetItem {
  padding: 0.25rem 0;
}
