:root {
  --nodeControlBackgroundColor: var(--bgColorDark2);
}

:global(.themeLevel1) {
  --nodeControlBackgroundColor: var(--bgColorDark1);
}

.wrapper {
  border-radius: 3px;
  color: var(--textColorLight1);
  fill: var(--textColorLight1);
  background-color: var(--nodeControlBackgroundColor);
  padding: var(--gapSmall);
  display: flex;
  flex-direction: column;
  transition: border-color var(--transitionTime);
  box-shadow: 1px 1px 0 0 var(--lineColor1);

  &:global(.active) {
    outline: 1px solid var(--lineColor2);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.inner {
  height: 26px;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 22px;
}

.inputCount {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 9px;
  opacity: 0.5;
  white-space: nowrap;
}

.inputCountIcon {
  font-size: 12px;
}

.title {
  flex: 1;
  min-width: 0;
  padding: 6px 3px;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  letter-spacing: 1px;
  line-height: 100%;
  font-size: 9px;
  font-weight: 200;
  z-index: 1;
  overflow: hidden;
  text-wrap: balance;

  &:global(.light) {
    border-color: var(--lineColor2);
  }
}
