body {
	margin: 0;
	-webkit-user-select: none;
}

canvas {
	
}

.layout {
	display: flex;
}

.layout__module {
	flex: 1;
}

.info {
	display: flex;
}

.info__module {
	margin-right: 1px;
}

.param-bar {
	width: 100px;
	height: 10px;
	background: black;
	position: relative;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}