{
  "env": {
    "development": {
      "presets": [
        [ "es2015", { "modules": false } ],
        "stage-2",
        "react"
      ],
      "plugins": [
        "styled-components",
        "react-hot-loader/babel",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        [ "es2015"],
        "stage-2",
        "react"
      ],
      "plugins": [
        "styled-components",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "stage-2",
        "react"
      ],
      "plugins": [
        "styled-components",
        "react-hot-loader/babel",
        "transform-object-rest-spread"
      ]
    }
  }
}
