{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-react"
      ],
      "plugins": [
        "styled-components",
        "react-hot-loader/babel",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        [ "es2015"],
        "@babel/preset-react"
      ],
      "plugins": [
        "styled-components",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "@babel/preset-react"
      ],
      "plugins": [
        "styled-components",
        "react-hot-loader/babel",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
