{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser" : true,
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "key-spacing"          : 0,
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"],
    "no-var"               : 2,
    "comma-dangle"         : [2, "always-multiline"],
    "no-console"           : [2, { "allow": ["warn", "error"] }]
  }
}
