# Use local versions of workspace packages rather than npm versioned
# This means we can develop packages together without needing to publish
# Means we can have version numbers everywhere rather than using the `workspace:^` thingy
link-workspace-packages=deep
