.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollSection {
  margin-bottom: var(--gapXLarge);
  flex: 1 1 0;
  overflow: auto;
  min-height: 0;
}

.bottomPanel {
  flex: 0 0 auto;
}
