.header {
  display: flex;
  align-items: center;
  gap: var(--gapLarge);
  cursor: pointer;
  padding: var(--gapLarge) 0;
  margin: 0;

  &:hover {
    color: white;
  }
}

.panel {
  background-color: var(--bgColorDark2);
  border-radius: var(--borderRadiusLarge);
  padding: var(--gapLarge);
  border: 1px solid var(--lineColor1);

  .content {
    padding: var(--gapLarge);
  }
}
