.wrapper {
  background: var(--actionColor1);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: var(--transitionTime);
  cursor: pointer;
  font-size: 0.8rem;
  font-family: inherit;
  box-shadow: 3px 3px 0 0 black;
  display: flex;
  align-content: center;
  gap: var(--gapSmall);

  &:hover {
    background: var(--actionColor1Hover);
  }
}

.secondary {
  background: var(--actionColor2);

  &:hover {
    background: var(--actionColor2Hover);
  }
}

.ghost {
  background: transparent;
  border: 0;
  box-shadow: none;

  &:hover {
    background: var(--bgColorDark4);
  }
}

.neutral {
  border: 1px solid var(--lineColor2);
  color: var(--textColorLight1);
  background: var(--bgColorDark1);

  &:hover {
    background: var(--bgColorDark2);
  }
}

.danger {
  color: var(--textColorLight1);
  background: var(--dangerColor);

  &:hover {
    background: var(--dangerColorHover);
  }
}

.slim {
  padding: 0.25rem;
}

.short {
    font-size: 0.5rem;
    align-items: center;
    justify-content: center;
}

.icon {
  font-size: 1.1em;
  line-height: 1.1;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
