:root {
  --booleanToggleBackgroundColor: var(--bgColorDark4);
}

:global(.themeLevel1) {
  --booleanToggleBackgroundColor: var(--bgColorDark3);
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.label {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--booleanToggleBackgroundColor);
  border-radius: var(--borderRadiusSubtle);

  &::after {
    content: '';
    clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
    background-color: var(--textColorLight1);
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    opacity: 0.2;
    pointer-events: none;
  }
}

.input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &:checked + .label {
    &::after {
      opacity: 1;
    }
  }
}
