:root {
  --lineColor1: #212121;
  --lineColor2: #555555;
  --textColorLight1: #d7d7d7;
  --bgColorDark1: #353535;
  --bgColorDark2: #303030;
  --bgColorDark3: #2c2c2c;
  --actionColor1: #da5782;
  --actionColor1Hover: rgb(156, 67, 97);
  --channelAColor: #e35a59;
  --channelBColor: #24965c;
  --dangerColor: red;
  --transitionTime: 0.2s;
  --gapSmall: 0.3rem;
  --gapLarge: 0.5rem;
  --gapXLarge: 0.75rem;
  --fontSizeHeader: 1.5rem;
  --fontWeightHeader: 800;
  --textShadow: 1px 1px black;
}
