.arena {
  background-color: black;
  height: 300px;
  position: relative;
}

.pip {
  background-color: white;
  height: 4px;
  width: 4px;
}

.box {
  border: 1px solid white;
  border-radius: 10px;
  padding: var(--pico-block-spacing-vertical);
}
