/* TODO: This CSS will eventually be removed when Vector3 is a dumb (compound) component in core */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.item {
  flex: 1;
  height: 100%;
}
