.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.colorBox {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid var(--lineColor1);
}

.picker {
  z-index: 10;
}
