.wrapper {
  padding: var(--gapXLarge);
  /* border: 1px solid var(--lineColor1); */
  border-radius: 0.5rem;
  background-color: var(--bgColorDark2);
  box-shadow: 3px 3px 0 0 var(--bgColorDark3);

  display: flex;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.2rem;
    margin-right: var(--gapLarge);
  }
}

.details {
  color: var(--textColorLight2);
  text-shadow: none;
  font-style: italic;
}

.body {
  max-width: 40rem;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--gapLarge);
  flex: 1;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: var(--gapLarge);
}
