.wrapper {
  padding: var(--gapXLarge);
  /* border: 1px solid var(--lineColor1); */
  border-radius: 0.5rem;
  background-color: var(--bgColorDark2);
  box-shadow: 3px 3px 0 0 var(--bgColorDark3);

  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--gapLarge);

  grid-column: 1 / 3;
  grid-row: 1;

  .icon {
    font-size: 1.2rem;
    margin-right: var(--gapLarge);
  }
}

.body {
  grid-column: 1 / 3;
  grid-row: 2;
  padding-right: 1rem;
  max-width: 40rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: var(--gapLarge);
  grid-row: 1 / 3;
}
