.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lineColor1);
  border-radius: 0.5rem;
  background-color: var(--bgColorDark2);
  box-shadow: 3px 3px 0 0 black;

  &:global(.full) {
    width: 100%;
    height: 100%;
  }
}

.header {
  padding: var(--gapXLarge);
  border-bottom: 1px solid var(--lineColor1);
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.2rem;
    margin-right: var(--gapLarge);
  }
}

.body {
  padding: var(--gapXLarge);

  &:global(.scrollable) {
    overflow: auto;
  }
}

.actions {
  padding: var(--gapXLarge);
  display: flex;
  justify-content: flex-end;
  gap: var(--gapLarge);
  border-top: 1px solid var(--lineColor1);
}
