.wrapper {
  display: flex;
  height: 100%;
}

.section {
  margin-bottom: var(--gapLarge);
}

.main {
  flex: 1;
  margin-top: var(--gapLarge);
}

.nav {
  margin-left: var(--gapLarge);
  width: 3rem;
}
