.wrapper {
  padding: 0.35rem 0.5rem 0.6rem;
  flex-shrink: 0;
}

.list {
  margin-top: 0.35rem;
  /* grid-template-columns: minmax(0, 1fr); */
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.4rem;
}
