.wrapper {
  background: var(--actionColor1);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: var(--transitionTime);
  cursor: pointer;
  font-size: 0.8rem;
  font-family: inherit;
  box-shadow: 3px 3px 0 0 black;

  &:hover {
    background: var(--actionColor1Hover);
  }

  &:global(.secondary) {
    border: 1px solid var(--lineColor2);
    color: var(--textColorLight1);
    background: var(--bgColorDark1);

    &:hover {
      background: var(--bgColorDark2);
    }
  }
}
