.wrapper {
  background: var(--primary-color);
  color: var(--text-color-on-primary);
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: var(--transition-time);
  cursor: pointer;

  &:hover {
    background: var(--primary-color-hover);
  }

  &:global(.secondary) {
    background: var(--bg-color-primary);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}
