.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--bgColorDark3);
  height: 100%;
}

.item {
  --inset: 2px;

  display: block;
  padding: 0.5rem 0.25rem;
  font-size: 0.7rem;
  background: var(--bgColorDark3);
  color: white;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid var(--lineColor1);
  cursor: pointer;
  transition: var(--transitionTime);
  font-family: inherit;

  &:hover {
    background: var(--actionColor1);
  }

  &:global(.active) {
    background: var(--actionColor1);
    cursor: default;
  }

  span {
    transition: inherit;
    display: block;
  }

  .icon {
    font-size: 1.5em;
    line-height: 0.8;
  }
}
