.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--bgColorDark2);
  height: 100%;
}

.item {
  display: block;
  padding: 0.5rem 0.25rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  background: #222;
  color: white;
  text-decoration: none;
  border: 1px solid #222;
  border-top: 1px solid #333;
  cursor: pointer;
  transition: var(--transitionTime);
  font-family: inherit;

  &:hover {
    background: var(--actionColor1);
  }

  &:global(.active) {
    background: var(--actionColor1);
    cursor: default;
  }
}
