html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  margin: 0;
  font-size: 0.8rem;
}

p a {
  color: #DA5782;
}

p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem;
}

.Select-arrow-zone {
  padding-right: 0;
}

.Select-control {
  background: #222222 !important;
  text-transform: uppercase;
  font-size: 0.5rem;
  border: 0;
  border-radius: 0;
  height: auto;
  cursor: pointer;
}

.Select-input {
  height: 1rem
}

.Select-value {
  line-height: 1rem !important;
}

.Select-value-label {
  color: white !important;
}

.Select-menu-outer {
  max-height: 300px;
  background: #222222 !important;
  color: white;
  z-index: 5;
}
.Select-menu {
  max-height: 300px;
  background: #222222 !important;
}
.Select-option {
  background: #222222;
}
.Select-option.is-focused {
  background: #333;
  color: white;
}
.Select-option.is-selected {
  background: white;
  color: black;
}
