html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  user-select: none;
  margin: 0;
  font-size: 0.8rem;
  overflow: hidden;
  font-family: sans-serif;
}

p a {
  color: #DA5782;
}

p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem;
}

::-webkit-scrollbar-track
{
    background-color: #333;
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    background-color: #DA5782;
}