.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
  position: relative;
}

.left {
  flex: 0 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.right {
  flex: 1 1 0;
  position: relative;
  min-width: 0;
}

.handle {
  width: 5px;
  cursor: col-resize;
  user-select: none;
  position: relative;
  background: var(--bgColorDark3);

  /* Increase the hitbox of the handle */
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    margin-left: -4px;
    margin-right: -4px;
    background: transparent;
    z-index: 10;
  }

  &::after {
    transition: 0.1s;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: 1px;
    background: var(--bgColorDark3);
  }

  &:active,
  &:hover {
    &:after {
      background-color: var(--lineColor2);
    }
  }
}

.widgetStrip {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.pluginControls {
  flex: 1;
  min-height: 0;
  overflow: auto;
  padding: 0.25rem 0;
}

.widgetItem {
  padding: 0.25rem 0;
}

.plugins {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
