.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lineColor1);
  border-radius: 0.5rem;
  background-color: var(--bgColorDark2);
  box-shadow: 3px 3px 0 0 black;

  &:global(.bottom) {
    border-radius: 0;
    box-shadow: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
}

.heightFull {
  height: 100%;
}

.widthFull {
  width: 100%;
}

.header {
  padding: var(--gapXLarge);
  border-bottom: 1px solid var(--lineColor1);
  display: flex;
  align-items: center;

  .icon {
    font-size: 1.2rem;
    margin-right: var(--gapLarge);
  }
}

.subHeader {
  display: flex;
  flex: 1;
  gap: var(--gapMedium);
  align-items: center;
  min-height: 1.5rem;
  margin-bottom: var(--gapXLarge);

  h3 {
    margin: 0;
  }
}

.body {
  padding: var(--gapXLarge);

  &:global(.scrollable) {
    overflow: auto;
  }
}

.actions {
  padding: var(--gapXLarge);
  display: flex;
  justify-content: flex-end;
  gap: var(--gapLarge);
  border-top: 1px solid var(--lineColor1);
}

.button {
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: var(--gapSmall);
  overflow: hidden;
}

.breadcrumbItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbClickable {
  cursor: pointer;
  text-decoration: dotted underline 1px;
  text-underline-offset: 2px;
}

.breadcrumbSeparator {
  opacity: 0.4;
  flex-shrink: 0;
}

.slim {
  .body,
  .header {
    padding: var(--gapLarge);
  }

  .header {
    .icon {
      font-size: 1rem;
      margin-right: var(--gapSmall);
    }

    h2 {
      font-size: 1rem;
    }
  }
}
