.wrapper {
  border-radius: 3px;
  color: var(--textColorLight1);
  fill: var(--textColorLight1);
  background-color: var(--bgColorDark2);
  padding: var(--gapSmall);
  display: flex;
  flex-direction: column;
  transition: border-color var(--transitionTime);
  box-shadow: 1px 1px 0 0 var(--lineColor1);

  &:global(.active) {
    outline: 1px solid var(--lineColor2);
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner {
  height: 26px;
  width: 50%;
}

.title {
  width: 50%;
  border-bottom: 1px dotted var(--lineColor1);
  padding: 3px;
  display: flex;
  align-items: flex-start;
  height: 26px;
  margin-right: 0.25rem;
  letter-spacing: 1px;
  line-height: 100%;
  font-size: 9px;
  font-weight: 200;
  z-index: 1;
  overflow: hidden;

  &:global(.light) {
    border-color: var(--lineColor2);
  }
}
