:root {
  --numberInputBackground: var(--bgColorDark4);
}

:global(.themeLevel1) {
  --numberInputBackground: var(--bgColorDark3);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--numberInputBackground);
  border-radius: var(--borderRadiusSubtle);
}

.textBox {
  display: block;
  background: transparent;
  border: 0;
  outline: none;
  position: absolute;
  inset: var(--gapSmall);
  background: transparent;
  color: var(--textColorLight1);
  display: flex;
  align-items: center;
  text-align: left;
  z-index: 1;
}
